CompileFlags:
  Add:
    - -I.
    - -Iinclude
    - -std=c23
    - -ffreestanding
    - -nostdlib
    - -m64
    - -march=x86-64
    - -masm=intel
    - -mno-80387
    - -mno-red-zone
    - -Wall
    - -Wextra
    - --target=x86_64-pc-none-elf

---

# Userland-specific flags so clangd can find the custom libc headers.
If:
  PathMatch: "user/.*"
CompileFlags:
  Add:
    - -Iuser/libc/include
    - -nostdlib
    - -static
    - -fPIE
    - -std=c23
    - -m64
    - -march=x86-64
    - -masm=intel
    - -g
    - -Wa,--noexecstack
    - --target=x86_64-pc-none-elf

If:
  PathMatch: "user/doom/.*"
CompileFlags:
  Add:
    - -Iuser/libc/include
    - -Ithird_party/doomgeneric/doomgeneric
    - -nostdlib
    - -static
    - -std=c23
    - -fPIE
    - -m64
    - -march=x86-64
    - -masm=intel
    - -g
    - -Wa,--noexecstack
    - --target=x86_64-pc-none-elf